{:paths ["src/main"]

 :deps  {com.fulcrologic/guardrails     {:mvn/version "0.0.12"}
         medley                         {:mvn/version "1.3.0"}
         meander/epsilon                {:mvn/version "0.0.479"}
         quil                           {:mvn/version "3.1.0"}
         zprint                         {:mvn/version "1.0.0"}

         org.clojure/core.memoize       {:mvn/version "1.0.236"}

         dev.freeformsoftware/metacomet {:git/url "https://github.com/JJ-Atkinson/metacomet.git"
                                         :sha     "2cd5cac2d6460d7c86785a2ff4365236c5f1ac40"}}


 :aliases
        {:test       {:extra-paths ["src/test" "src/dev"]
                      :jvm-opts    ["-Dguardrails.enabled"]
                      :extra-deps  {lambdaisland/kaocha         {:mvn/version "1.0.632"}
                                    org.clojure/tools.namespace {:mvn/version "1.0.0"}
                                    kaocha-noyoda               {:mvn/version "2019-06-03"}
                                    org.clojure/test.check      {:mvn/version "1.0.0"}
                                    philoskim/debux             {:mvn/version "0.7.3"}}}
         :workspaces {:extra-paths ["src/workspaces"]
                      :jvm-opts    ["-Dguardrails.enabled"]
                      :extra-deps  {thheller/shadow-cljs {:mvn/version "2.10.14"}
                                    binaryage/devtools   {:mvn/version "1.0.0"}
                                    }}
         :reagent    {:extra-paths ["src/reagent"]}

         :rebl       {:extra-deps {com.cognitect/rebl {:local/root "/home/jarrett/REBL-0.9.226/openjfx15ea"}}
                      :main-opts  ["-m" "cognitect.rebl"]}

         :dev        {:extra-paths ["src/dev"]
                      :extra-deps  {
                                    org.clojure/tools.namespace {:mvn/version "1.0.0"}
                                    }}}}